body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#Add{
    display: flex;
    flex-direction: column ;
    justify-content: center;   
    width: 200px;
}
#addItm{
    display: flex;
    flex-direction: column ;
    justify-content: center; 
}